.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    flex-direction: row;
    background-color: #696969;
    border: 0;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
    margin: 1em auto;
}

.text-section {
    max-width: 60%;
}

.cta-section {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.cta-section .btn {
    padding: 0.3em 0.5em;
    /* color: #696969; */
}

.card.bg-light-subtle .cta-section .btn {
    background-color: #898989;
    border-color: #898989;
}

.modal-dialog2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.modal-content2 {
    text-align: center;
}